body
{font-size: 10pt;
font-family: "Verdana, sans-serif";
color:blue}
h2
{font-size: 50pt;
font-family: "Verdana, sanas-serif";
color:red}
h3
{font-size:13pt;
font-family: "Verdana, sans-serif";
font-weight: bold;
color: black}
